* {
  box-sizing: border-box;
  font-family: 'Raleway';
} 

.page-content{
  margin: 50px auto;
  width: 90%;
}

table{
  border: 2px solid #26a69a !important;
}

thead tr, .fund-item{
  background-color: #26a69a;
  text-align: center;
  color: white;
  text-shadow: #000 0px 0px 1px;
}

th {
  padding: 12px 15px;
}

tbody td,
tbody tr, 
.fund-item {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #def7ef;
}

tbody tr:last-of-type {
  border-bottom: 1px solid #26a69a;
}
  
.verifyTrade {
  clear: both;
  margin: 0 auto;
}   

.submitTrade {
  display: inline-block; 
  position: relative;
  left: 38%;
  transform: translateX(40%);
  margin-inline-end: 10px;
}  

.popup-container{
  margin-top: 20px;
}

.popup-container .add-fund-btn{
  text-align: right;
  float: right;
}

button{
  display: block;
  border: none;
  background: #26a69a;
  padding: 7px 20px;
  cursor: pointer;
  color: white;
}

button:hover {
  background: rgba(23, 172, 139, 0.774)
} 

.styles_modalCenter__L9F2w{
  width: 50%;
}

.fundSubmit {
  margin: 0 auto;
}

.successVerify {
  display: inline; 
}

.add-fund-btn {
  float: right;
  margin-top: 15px;
}